{% extends 'base.html' %}
{% load static %}

{% block page_header %} 新闻众创 {% endblock %}

{% block content %}
    {% block pages %}
        <div class="ui stackable grid">
        <div class="eleven wide column">
            <div class="ui feed">
                {% for page in pages %}
                    <div class="event" style="overflow-x: hidden;">
                        <div class="label">
                            <a href=""><img src= {{ page.news.pic }}></a>
                        </div>
                        <div class="content">
                            <div class="summary" style="width: 70%;">
                                <div><a href="{% url 'news_detail' page.news.id %}">
                                    {{ page.news.title }}
                                </a></div>
                                <a href="{% url 'account_pages'  page.news.author.id %}">
                                    {{ page.news.author }}
                                </a> posted at
                                <div class="meta">
                                    {{ page.news.timeStamp }} </div>
                            </div>
                            <div class="extra text">
                                {{ page.preview | safe | truncatechars:255 }}...
                                <!--<a href="{% url 'news_detail' page.news.id %}">...more</a>-->
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endblock %}

{% block right %}
    <div class="five wide column">
        {% block top %}{% endblock %}
        <div class="ui fluid card">
            <div class="content">
                <div class="header">Tags</div>
            </div>
            <div class="content">
                {% include 'SimpleNews/tags_cloud.html' %}
            </div>
        </div>
        {% block down %}{% endblock %}
    </div>
{% endblock %}
</div>

    <style>
    img{
        width: 100%;
        height: 100%;
    }
    </style>
{% endblock %}