{% extends 'SimpleNews/page_create.html' %}

{% block title %} Derive - {% endblock %}

{% block page_header %} Derive {% endblock %}

{% block form_action %}action="{% url 'news_fork' page.id %}"{% endblock %}

{% block form_title %}value="转: {{ page.title }}"{% endblock %}

{% block form_tags %}value="{{ page.tag_str }}"{% endblock %}

{% block editor %}
    {% include 'SimpleNews/editor.md.html' with editor_content=edit %}
{% endblock %}
<!--
"This page is derived from[{{ page.title }}]({% url 'news_detail' page.id %} )

{{ page.content }}"-->
